*{
    margin: 0;
    padding: 0;
    font-family:cursive;
}

/*---navigation---*/

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-color:#FFA177;
    padding: 0;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler{
    outline: none;
}

/*---whatFind---*/
#whatFind{
    padding-top: 20px;
    padding-bottom: 50px;
    color: #555;
    background-color: #fff2cc;
    height: 430px;
}

.whatFind-content{
    padding-top: 20px;
}

/*---socailMedia---*/

#ourContacts{
    background: #f7e3a8;
    padding: 100px 0;
    }

    #ourContacts h3{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .socialMedia-Icons{
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
    }

    .socialMedia-Icons img{
        margin-left: 84px;
        margin-top: 15px;
        width: 50px;
        transition: 0.5s;
    }
    
    .socialMedia-Icons a:hover img{
        transform: translateX(-20px);
    }


/*---footer---*/
#footer{
    color:white;
    background-color:#FFA177;
}

.footer-box{
    padding: 20px;
}

.footer-box .form-control{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    margin-top: 30px;
    max-width: 240px;
}

.footer-box .btn-primary{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    margin-top: 25px;
    background-image: linear-gradient(to right, #FFDAB9, #FFA177);
}