*{
    margin: 0;
    padding: 0;
    font-family:cursive;
}

/*---navigation---*/

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-color:#FFA177;
    padding: 0;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler{
    outline: none;
}

/*---breakfasts---*/
.container{
    align-items: center;
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.container img{
    width: 100%;
    height: 400px;
    padding: 10px;
}

.container div{
    margin-right: 5px;
    border-radius: 10px;
    border: 2px solid #FFA177;
    text-align: center;
    font-family: sans-serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-top: 20px;
}
