*{
    margin: 0;
    padding: 0;
    font-family:cursive;
}

/*---navigation---*/

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-color:#FFA177;
    padding: 0;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler{
    outline: none;
}

/*---recipe---*/

@keyframes imageAnimation {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }
  
  .img img.top {
  animation-name: imageAnimation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
  }

 .img .top{
     height: 570px;
     width: 590px;
     z-index: 1;
    position: absolute;
    top: 0;
    left: 100px;
 }

 .img .bottom{
     width: 590px;
     height: 570px;
     z-index: 0;
    position: absolute;
    top: 0;
    left: 100px;
 }

 /*---Marking---*/

 .marking {
    width: 100%;
    position: absolute;
    top: 600px;
    margin-left: 150px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFA177;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  .marking .btn-primary{
    margin-left: 145px;
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #FFDAB9, #FFA177);
    color: black;
}

 /*---footer---*/
#footer{
    color:white;
    background-color:#FFA177;
}

.footer-box{
    padding: 20px;
}

.footer-box .form-control{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    margin-top: 30px;
    max-width: 240px;
}

.footer-box .btn-primary{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    margin-top: 25px;
    background-image: linear-gradient(to right, #FFDAB9, #FFA177);
}