.login-form{
    height: 800px;
    width: 60%;
    margin: auto;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.login-form .box{
    min-width: 400px;
    min-height: 450px;
    background-color: #ffffff;
    padding-top: 0px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.login-form .box .form-fields{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form .box .form-fields .input-box {
    position: relative;
    margin-bottom: 20px;
}

.login-form .box .form-fields .input-box .form-control{
    height: 40px;
    width: 90%;
    padding: 0px 0px 0px 45px;
    color: #444444;
    border: 1px solid #cccccc;
}

.login-form .box .form-fields .input-box span{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.login-form .box .form-fields .input-box span img{
    width: 25px;
}

.login-form .box .form-fields .input-box .button-box{
    width: 100%;
    display: flex;
    align-items: center;
}

.login-form .box .form-fields .button-box button{
    color: #ffffff;
    font-size: 16px;
    padding: 8px 35px;
    background-color: #ffa177;
}

.login-form .box .form-fields .button-box button:hover{
    background-color: transparent;
    color: #ffa177;
    border-color: #ffa177;
}

.login-form .box .social-links{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form .box .social-links p{
    text-align: center;
    color: #cccccc;
    font-size: 14px;
    margin-top: 40px;
}

.login-form .box .social-links .links-box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login-form .box .social-links .links-box a{
    color: #ffffff;
    padding: 8px;
    width: 100px;
    font-size: 14px;
    text-align: center;
}

.login-form .box .social-links .links-box a.facebook{
    background-color: #4567ab;
}

.login-form .box .social-links .links-box a.google{
    background-color: #6990d8;
}

.login-form .box .social-links .links-box a.twitter{
    background-color: #2fcdfe;
}

.col-md-6{
    margin-top: 50px;
}

.images img{
    width: 210px;
    height: 250px;
    border-radius: 5px;
}

.image1{
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 0;
    animation-name: img1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes img1{
    from {top: 15px;}
    to {top: 0px;}
}
.image2{
    position: absolute;
    top: 15px;
    left: 240px;
    z-index: 0;
    animation-name: img2;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes img2{
    from {top: 15px;}
    to {top: 0px;}
}
.image3{
    position: absolute;
    top: 15px;
    left: 480px;
    z-index: 0;
    animation-name: img3;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes img3{
    from {top: 15px;}
    to {top: 0px;}
}
.image4{
    position: absolute;
    top: 180px;
    left: 80px;
    z-index: 10;
    animation-name: img4;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes img4{
    from {top: 180px;}
    to {top: 195px;}
}
.image5{
    position: absolute;
    top: 180px;
    left: 360px;
    z-index: 10;
    animation-name: img5;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes img5{
    from {top: 180px;}
    to {top: 195px;}
}
.image6{
    position: absolute;
    top: 375px;
    left: 230px;
    z-index: 10;
    animation-name: img6;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes img6{
    from {top: 375px;}
    to {top: 360px;}
}