*{
    margin: 0;
    padding: 0;
    font-family:cursive;
}

/*---navigation---*/

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-color:#FFA177;
    padding: 0;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler{
    outline: none;
}

/*---recipes---*/
.red{
    margin-top: 90px;
    margin-left: 350px;
    width: 60%;
    height: 40%;
    border: 2px solid #FFA177;
    display: flex;
    flex-direction: column;
}

.block1{
    border: 1px solid black;
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 20px; 
    justify-content: flex-start;
    display: flex;
}

.red img{
    border-radius: 15px;
}

.breakfast{
    padding: 8px;
}

.lunch{
    padding: 8px;
}

.snack{
    padding: 8px;
}

.dinner{
    padding: 8px;
}

.breakfast-text {
    padding-top: 8px;
}

.lunch-text{
    padding-top: 8px;
}

.snack-text{
    padding-top: 8px;
}
.dinner-text{
    padding-top: 8px;
}

.block2{
    border: 1px solid black;
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    justify-content: flex-end;
    display: flex;
}

.block3{
    border: 1px solid black;
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-start;
    display: flex;
}

.block4{
    border: 1px solid black;
    width: 93%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: flex-end;
    display: flex;
}

/*---footer---*/
#footer{
    margin-top: 20px;
    color:white;
    background-color:#FFA177;
}

.footer-box{
    padding: 20px;
}

.footer-box .form-control{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    margin-top: 30px;
    max-width: 240px;
}

.footer-box .btn-primary{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    margin-top: 25px;
    background-image: linear-gradient(to right, #FFDAB9, #FFA177);
}