*{
    margin: 0;
    padding: 0;
    font-family:cursive;
}

/*---navigation---*/

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 30;
}

.navbar{
    background-color:#FFA177;
    padding: 0;
    height: 120px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler{
    outline: none;
}

/*---banner---*/
#banner{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(food.png);
    height: 90vh;
    background-size: cover;
    background-position: center;
    color:#FFA177;
}
.content {
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 160px;
    overflow:hidden;

    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 60px;
    color: #ecf0f1;
}
    .content__container {
      font-weight: 600;
      overflow: hidden;
      height: 80px;
      width: 800px;
      padding: 0 40px;
    }

#banner ul{
    font-size: 60px;
    color: #FFE6EA;
    margin-top: 70px;
    text-align: center;
}

.content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.content__container__list__item {
      line-height:80px;
      margin:0;
}

@keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0%,0);}
    16.66%, 29.32% {transform:translate3d(0,-15%,0);}
    33.32%,45.98% {transform:translate3d(0,-49%,0);}
    49.98%,62.64% {transform:translate3d(0,-83%,0);}
    66.64%,79.3% {transform:translate3d(0,-49%,0);}
    83.3%,95.96% {transform:translate3d(0,-15%,0);}
}

/*---whatFind---*/
#whatFind{
    padding-top: 20px;
    padding-bottom: 50px;
    color: #555;
    background-color: #fff2cc;
    height: 430px;
}

.whatFind-content{
    padding-top: 20px;
}

/*---recipes---*/
#recipes{
    padding: 80px 0;
}

.recipes-img{
    width: 300px;
    margin-top: 20px;
    border-radius: 40px;
}
.recipes-img:hover{
    transform: rotate(10deg);
}

.recipes{
    padding: 20px;
}

.recipes h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before{
    content: '';
    background: #FFA177;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

#recipes .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #FFDAB9, #FFA177);
    color: black;
}

#recipes .btn-primary:hover{
    background-color: transparent;
    color: white;
    border-color: #ffa177;
}

/*---socailMedia---*/
#socialMedia{
background: #f8f9fa;
padding: 100px 0;
}

#socialMedia h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.socialMedia-Icons img{
    margin-left: 220px;
    width: 80px;
    transition: 0.5s;
}

.socialMedia-Icons a:hover img{
    transform: translateY(-10px);
}

/*---footer---*/
#footer{
    color:white;
    background-color:#FFA177;
}

.footer-box{
    padding: 20px;
}

.footer-box .form-control{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    margin-top: 30px;
    max-width: 240px;
}

.footer-box .btn-primary{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    margin-top: 25px;
    background-image: linear-gradient(to right, #FFDAB9, #FFA177);
}
