.login-form{
    height: 800px;
    width: 60%;
    margin: auto;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .box{
    min-width: 400px;
    min-height: 450px;
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.login-form .box .img img{
    display: inline-block;
}

.login-form .box .img img{
    width: 60px;
}

.login-form .box .heading h4{
    font-size: 22px;
    text-align: left;
    margin: 15px 0px 20px;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    display: inline-block;
}

.login-form .box .form-fields{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form .box .form-fields .input-box {
    position: relative;
    margin-bottom: 20px;
}

.login-form .box .form-fields .input-box .form-control{
    height: 40px;
    width: 90%;
    padding: 0px 0px 0px 45px;
    color: #444444;
    border: 1px solid #cccccc;
}

.login-form .box .form-fields .input-box span{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.login-form .box .form-fields .input-box span img{
    width: 25px;
}

.login-form .box .form-fields .input-box .button-box{
    width: 100%;
    display: flex;
    align-items: center;
}

.login-form .box .form-fields .button-box button{
    color: #ffffff;
    font-size: 16px;
    padding: 8px 35px;
    background-color: #0089fe;
}

.login-form .box .form-fields .button-box button:hover{
    background-color: transparent;
    color: #0089fe;
    border-color: #0089fe;
}
